/** CSS by David Perez for Mercy Warehouse Site **/

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
/* font-family: 'Montserrat', sans-serif; */ /* ADD TO CLASS TO CHANGE FONT*/


/* GENERAL CSS FOR GLOBALS ADD TAG TO ADD STYLING */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
blockquote {
  border-color: rgb(255, 132, 17);
}
.resp-text {
  font-size: 1.25em;
}
.heavy-font {
  font-family: 'Montserrat', sans-serif !important;
}

.banner-size {
  font-size: 4.3rem;
}

.underline {
  border-bottom: 3px solid #fd7b01;
  margin: 0px 45%;
}

.that-orange-text {
  color: rgb(255, 132, 17) !important;
}
.that-orange-color {
  color: #ff8411;
  color: white;
}

.that-blue-color {
  color: #118CFF !important;
}

.pointer {
  cursor: pointer;
}

.lighten-image {
  opacity: 1;
}

.addspacecontainer {
  padding: 50px 0px;
}

.blur-me {
  filter: blur(.5px);
}

.blur-text {
  text-shadow: 1px 1px 5px  #000000;
}

/************** END GLOBALS **/


/** SECTIONS AND CONTAINERS *********************/
.mini-container {
  margin: 0px 5%;
}

.border-line {
  border-right: 2px solid rgb(212, 212, 212); 
  padding-left: 5px;
}
.spotlight-section {
  padding: 60px 0px;
  font-size: 1.30em;
}

.mini-gallery {
  padding: 20px 0px;
}

.mini-gallery-container {
  padding: 50px 0px;
  background-color: rgba(223, 223, 223, 0.425) !important;
  /* background-image: url("../imgs/clothes-rack-focus.jpg");
  background-size: cover; */
}

.parallax-container {
  min-height: 390px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


#donate {
  background-color: rgb(247, 247, 247);
  padding: 50px 0px;
  box-shadow: 1px 3px 10px rgb(202, 202, 202);
}

.fb-section {
  background-color: rgb(247, 247, 247);
  padding: 10px 0px;  
}

.map-container {
  padding: 0px 0px 100px 0px;
}

/** END **** SECTIONS *********************/

.page-footer {
  background-color: rgb(231, 231, 231);
  margin-top: 100px
}
.guide-border {
  border: 6px solid #ffa047b7 !important;
  padding: 0px 0px;
}

.guide-top {
  margin: 0px 0px;
  background-color:  rgb(255, 161, 73) !important;
  padding: 25px;
}

.mentions-content {
  padding: 20px 0px;
}

.contact-container {
  background-color: rgb(247, 247, 247);
  padding: 25px 0px;
  border: 1px solid rgb(185, 185, 185);
  margin: 10px 0px 50px 0px;
}


/* Style the video: 100% width and height to cover the entire window */
#missionVideo {  
  min-width: 100%; 
  width: auto; 
}

.sidenav-trigger {
  color: #26a69a;
}
.gallery-text {
  font-size: 3em;
}

.card-reveal {
  background-color: rgb(255, 161, 73) !important;
}

.icons {
  font-size: 4em;
  padding-top: 30px;
}
.embeded-map {
  width: 100%;
  height: 430px;
}
.embeded-video {
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3IkZsSdf6mBYq_V-GRI949WSL7tx7o1F8fcKMdLnrPHfHsVl-");
 background-color: black; 
 background-size: cover;
}

.howto-numbers {
  font-size: 6em;
  color: rgb(255, 123, 0);
}

.step-desc {
  text-align: left;
  font-size: 1.5rem;
  margin-top: 3%; 
  color: rgb(128, 128, 128);
}

.company-logo {
  height: 5rem;
  width: auto;
  margin: 0px 10px;
}


.gallery {
  padding: 10px 0px; 
}

.embeded-map {
  margin-top: 40px;
}

/* Floating Social BUTTONS START ****************/
.fl-fl {
  background: rgb(247, 119, 0);
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fas {
  font-size: .97em;
}

.fab3 {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 10px;
}
.fab2 {
  margin-left: 5px;
}
.fab4 {
  margin-left: 6.3px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 225px;
}

.float-tw {
  top: 280px;
}

.float-ye {
  top: 335px;
}

.float-gp {
  top: 390px;
}
/* Floating Social Media Bar Style Ends Here */

/* HI */

/* *********** MEDIA QUERIES *********** */

@media only screen and (max-width : 992px) {

  .parallax {
    height: 50%;
  }
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  
  #index-banner .section {
    top: 10%;
  }
  .embeded-map {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width : 600px) {
  
  .contact-text1 {
    margin: 0px 0px 50px 0px;
  }

.contact-container {
  border: none;
}
  #index-banner .section {
    top: 0;
  }

  .embeded-map {
    width: 100%;
    height: 300px;
  }
  .food-table {
    margin-top: 50px;
  }

  .step-desc {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3%; 
    color: rgb(128, 128, 128);
  }
}
.icon-block {
  padding: 0px, 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
